// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

.card-img-top {
    height: 300px; /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover; /* Pastikan gambar mempertahankan aspek rasio dan mengisi kotak gambar secara penuh */
}