// Fonts
// @import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    // transition: 0.2s linear;
}

.navbar ul {
    margin-right: 40px; /* Jarak kanan */
    margin-left: 220px; /* Jarak kiri */
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    // animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    // animation-duration: 3s;
    // --animate-delay: 0.9s;
}
.custom-bg-image {
    background-image: url("../images/pak_oki.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem 0 0 1rem;
}
.home .content {
    max-width: 60rem;
    padding-left: 6rem;
    padding-top: 10rem;
}

.vh-100 {
    min-height: 100vh;
    position: relative; /* Add this for positioning */
    display: flex;
    align-items: center;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.vh-100::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: -2; /* Make sure the pseudo-element is behind the content */
}

.home .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1.2;
}

.home .content p {
    line-height: 2;
    font-size: 1rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.header .navbar a {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--primary);
}

/* footer */
.bg-custom {
    background-color: #dbdbdb;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel img {
    height: 340px;
    padding: 1rem;
    object-fit: contain;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 4);
}
.carousel img:first-child {
    margin-left: 0px;
}

// #preloader {
//     position: fixed;
//     background: #91d5f2 url(../images/giphy.webp) no-repeat center;
//     background-size: 30%;
//     height: 100vh;
//     width: 100%;
//     z-index: 1001;
//     overflow: hidden;
// }

// .news .container-news .card {
//     display: flex;
//     padding: 1rem;
//     width: 70%;
//     background-color: rgb(255, 255, 255);
//     height: 100rem;
// }

// .card {
//     height: auto;
//     display: flex;
//     padding: 2rem;
//     background-color: rgb(255, 255, 255);
// }


.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.footer h3 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
    color: #666;
}

.footer .box {
    padding: 20px;
}

.footer .share a {
    color: #333;
    font-size: 24px;
    margin-right: 10px;
}

.credit {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}
